<h3>Hey guys</h3>
<p>This will eventually be an explaination/random story page.</p>
<br><br>
<% @messages.each do |m|  %>

  <h3><%= m.title  %></h3>
  <% unless m.body == nil %>
    <p><%= m.body.html_safe %></p>
  <% end %>
    <p> <%= m.access_token  %></p>

<% end %>
