<% @messages.each do |m| %>
  <h3><%= m.title  %></h3>
  <p><%= m.body.html_safe  %></p>


  <span data-openedby='finished'>
    <ul>
      <li><%= link_to "Reply!", new_message_path(:receiver_email => m.sender_email, :from => m.to, :to => m.from, :sender_email => m.receiver_email),'data-no-turbolink' => true  %></li>
      <li><%= link_to "I'm done", message_path(m.id), method: :delete %></li>
    </ul>
</span>
<% end %>
