<div>
  
     <a data-opens="001">Hey</a><span data-openedby='001'> You guys have Heard of Snapchat... 
     <a data-opens='002'>Right ? </a></span><span data-openedby='002'>
     <p><a data-opens='003'>Well </a></span><span data-openedby='003'>This is the same... 
      <a data-opens='004'>But different. </a></p>
   </span><span data-openedby='004'><h3>Welcome to Penmail</h3>
   <p>But hey, don't trust <a data-opens="005">us</a></p>
 </span><span data-openedby="005">Try it for <i><%= link_to "Yourself...", new_message_path %> </span></i>
 
<a data-opens='0'>hi</a> <span data-openedby=0>this is <a data-opens='1'>awesome</a> </span> <span data-openedby=1>I need to find <a data-opens='2'>how to do this quicker</a> </span> <span data-openedby=2>wouldn't that <a data-opens='3'>be</a> great </span> <span data-openedby=3>mate!</span>

<a data-opens='0'>hey</a> <span data-openedby='0'>hows it <a data-opens='1'>going</a> </span> <span data-openedby='1'>steph</span>

</div>