<div class='outer'>
  <div class='info'>
    <a data-opens="001">Hey. </a>
    <span data-openedby='001'> You guys have heard of Snapchat... <a data-opens='002'>Right ? </a></span>
    <span data-openedby='002'><p><a data-opens='003'>Well </a></span>
    <span data-openedby='003'>this is for those who like <a data-opens='101'>the idea, </a></span>
    <span data-openedby='101'>but are also <a data-opens='102'>writers </a></span>
    <span data-openedby='102'>at heart and haven't <a data-opens='103'>forgotten </a></span>
    <span data-openedby='103'>the <a data-opens='104'>romance </a></span>
    <span data-openedby='104'>of the <a data-opens='004'>written letter.</a></span>
  </div>
      <br><br>
    <span data-openedby='004'><h3>Welcome to</h3>
      <p class='fade'>Invisible Ink</p></span>
    <br><br>
   
  
  <div class='footer'>
    <span data-openedby='004'>
       <p>
        But hey, don't trust <a data-opens="005">us</a>
      </p>
    </span>
    
    <span data-openedby="005">Try it for <u><%= link_to "yourself...", new_message_path, 'data-no-turbolink' => true  %></u>
    </span>
  <div>
</div>
   
