<div>
  
     <a data-opens="001">Hey</a><span data-openedby='001'> You guys have Heard of Snapchat... 
     <a data-opens='002'>Right ? </a></span><span data-openedby='002'>
     <p><a data-opens='003'>Well </a></span><span data-openedby='003'>This is the same... 
      <a data-opens='004'>But different. </a></p>
   </span><span data-openedby='004'><h3>Welcome to Penmail</h3>
   <p>But hey, don't trust <a data-opens="005">us</a></p>
 </span><span data-openedby="005">Try it for <i><%= link_to "Yourself...", new_message_path, 'data-no-turbolink' => true  %> </span></i>


</div>