<div class="content">
  <p>
    <a data-opens="001">Hey</a><span data-openedby='001'> this is the text that <a data-opens='002'>gets opened</a></span><span data-openedby='002'> when you click on it</span>
  </p>
</div>