
html, body {
    margin: 0;
    padding: 0;
}

::selection      { background:#a6e0ff; color:#333; }

body {
  background:  #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #226;
  display:none;
}
.left {
  width: 45%;
  min-width: 450px;
  display: inline-block;
  float: left;
  padding: 40px;
  margin-bottom: 10px;
  border-bottom: thin lightskyblue solid;
}
.right {
  width: 40%;
  min-width: 450px;
  display: inline-block;
  float: left;
  padding: 40px;
  padding-left: 60px;
}
.info {
  width: 40%;
  display: inline-block;
}
.title {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.body {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 80px;
}

@media all and (max-width: 945px) {

  #about {
    width: 100%;
    position:absolute;
    top:0;
    margin: 0;
  }
}
p {
  margin: 0;
  }
a[data-opens], a[data-finish] {
  text-decoration: underline;
}
a, a:visited {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  }
a.clicked {
  cursor: default;
  text-decoration: none;    
}
span {
    display: none;
  }
.off{
  display: none;
  }
.on {
  display: inline;
  }
p.on {
  display: block;
}
.input, .button, .input-2 {
  height: 50px;
  margin: 15px ;
  width: 300px;
  max-width : 300px;
  font-family: 'Quicksand', sans-serif;
}
.input-2 {
  height: 250px;
  font-size: 20px;
}
.input, .button{
  text-align: center;
  font-size: 15px;
}

ul li {
  display: inline;
  text-decoration: underline;
  list-style: none;
}
#new_message {
  margin-left: 20%;
}