
html, body {
    margin: 0;
    padding: 0;
}

::selection      { background:#a6e0ff; color:#333; }

body {
  background:  #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #226;
  display:none;
}
.left {
  width: 45%;
  display: inline-block;
  float: left;
}
.right {
  width: 45%;
  display: inline-block;
  float: left;
  padding: 40px;
}
.info {
  width: 40%;
  display: inline-block;
}

@media all and (max-width: 945px) {

  #about {
    width: 100%;
    position:absolute;
    top:0;
    margin: 0;
  }
}
p {
  margin: 0;
  }
a[data-opens] {
  text-decoration: underline;
}
a, a:visited {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  }
a.clicked {
  cursor: default;
  text-decoration: none;    
}
span {
    display: none;
  }
.off{
  display: none;
  }
.on {
  display: inline;
  }
p.on {
  display: block;
}
.input, .button, .input-2 {
  height: 50px;
  margin: 15px 40px;
  width: 300px;
  /*max-width : 300px;*/
  font-family: 'Quicksand', sans-serif;
}
.input-2 {
  height: 250px;
  font-size: 20px;
}
.input, .button{
  text-align: center;
  font-size: 15px;

}

  

